doctype html
html
    head
        meta(charset='utf-8')
        title scrollfit.js playground
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/main.css')
    body
        .container
            h1 scrollfit.js playground

            h2 case #1: overflowing header
            h3.border.nowrap(data-hook='scrollfit') asdölfjk asöldfj lökasdjfl ökasdjflökj asdlfkj ölkadsjflö kajsdflkj aölsdkfj lkasdjflö jdfs

            hr

            h2 case #2: overflowing paragraph
            p.border.fixed-dimensions(data-hook='scrollfit').
                Why are you fucking reading all of this? Get back to work. When you sit down to work, external critics aren’t the enemy. It’s you who you must to fight against to do great fucking work. You must overcome yourself. Think about all the fucking possibilities. Paul Rand once said, “The public is more familiar with bad fucking design than good design. It is, in effect, conditioned to prefer bad design, because that is what it lives with. The new becomes threatening, the old reassuring.” You won’t get good at anything by doing it a lot fucking aimlessly. Never, never assume that what you have achieved is fucking good enough. Design is all about fucking relationships—the relationship of form and content, the relationship of elements, the relationship of designer and user. Don’t worry about what other people fucking think. Saul Bass on failure: Failure is built into creativity… the creative act involves this element of ‘newness’ and ‘experimentalism,’ then one must expect and accept the fucking possibility of failure. Creativity is a fucking work-ethic. Nothing of value comes to you without fucking working at it. Dedicate yourself to lifelong fucking learning. Your rapidograph pens are fucking dried up, the

            hr

            h2 case #3: undeflowing paragraph
            p.border.fixed-dimensions(data-hook='scrollfit').
                To surpass others is fucking tough
